version: "2"

networks:
  swarm-network:
    driver: overlay
    ipam:
      driver: default
      config:
        - subnet: 10.10.2.0/16
          ip_range: 10.10.2.0/24

volumes:
  transcoding:
    driver: local

services:

  #######################################################
  ####################### CORE ##########################
  #######################################################
  rabbit1:
    image: bijukunjummen/rabbitmq-server
    hostname: rabbit1
    ports:
      - "5672:5672"
      - "15672:15672"

  rabbit2:
    image: bijukunjummen/rabbitmq-server
    hostname: rabbit2
    links:
      - rabbit1
    environment:
      - CLUSTERED=true
      - CLUSTER_WITH=rabbit1
      - RAM_NODE=true
    ports:
      - "5673:5672"
      - "15673:15672"

  rabbit3:
    image: bijukunjummen/rabbitmq-server
    hostname: rabbit3
    links:
      - rabbit1
      - rabbit2
    environment:
      - CLUSTERED=true
      - CLUSTER_WITH=rabbit1
    ports:
      - "5674:5672"

  api-core:
    build: ./core/core-api
    links:
      - rabbit1:rabbit
    volumes: 
      - ./core/core-api/app:/deploy/app
#    ports:
 #     - "5001:5001"

  lb-core:
    image: dockercloud/haproxy
    links:
      - api-core
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 5000:80

  worker:
    build: ./core/core-api
    restart: allways
    links:
      - rabbit1:rabbit
    volumes: 
      - ./core/core-api/app:/deploy/app
    entrypoint:
      - /docker-entrypoint.sh
      - worker

  #######################################################
  ####################### WEB ##########################
  #######################################################
  web:
    image: vincentchalamon/symfony 
    volumes:
      - ./web/app:/var/www
    tty: true
    links:
      - mariadb

  mariadb:
    image: hauptmedia/mariadb:10.1
    hostname: node1
    ports:
      - 13306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - REPLICATION_PASSWORD=root
      - MYSQL_DATABASE=app_transcode
      - MYSQL_USER=maria
      - MYSQL_PASSWORD=maria
      - GALERA=On
      - NODE_NAME=node1
      - CLUSTER_NAME=maria_cluster
      - CLUSTER_ADDRESS=gcomm://node1,node2,node3
    command: --wsrep-new-cluster
    volumes:
      - ./web/mariadb:/var/lib/mysql
    privileged: true
    restart: always

  node2:
      image: hauptmedia/mariadb:10.1
      hostname: node2
      links:
        - mariadb
      ports:
        - 23306:3306
      environment:
        - REPLICATION_PASSWORD=root
        - GALERA=On
        - NODE_NAME=node2
        - CLUSTER_NAME=maria_cluster
        - CLUSTER_ADDRESS=gcomm://node1,node2,node3
      volumes:
        - ./web/mariadb:/var/lib/mysql
      privileged: true
      restart: always
        
  node3:
      image: hauptmedia/mariadb:10.1
      hostname: node3
      links:
        - mariadb
      ports:
        - 33306:3306
      environment:
        - REPLICATION_PASSWORD=root
        - GALERA=On
        - NODE_NAME=node3
        - CLUSTER_NAME=maria_cluster
        - CLUSTER_ADDRESS=gcomm://node1,node2,node3
      volumes:
        - ./web/mariadb:/var/lib/mysql
      privileged: true
      restart: always

  lb-web:
    image: dockercloud/haproxy
    links:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:80
      - 1936:1936

