version: "2"
services:

  #######################################################
  ####################### CORE ##########################
  #######################################################
  rabbit1:
    image: bijukunjummen/rabbitmq-server
    hostname: rabbit1
    ports:
      - "5672:5672"
      - "15672:15672"

  rabbit2:
    image: bijukunjummen/rabbitmq-server
    hostname: rabbit2
    depends_on:
      - rabbit1
    environment:
      - CLUSTERED=true
      - CLUSTER_WITH=rabbit1
      - RAM_NODE=true
    ports:
      - "5673:5672"
      - "15673:15672"

  rabbit3:
    image: bijukunjummen/rabbitmq-server
    hostname: rabbit3
    depends_on:
      - rabbit1
      - rabbit2
    environment:
      - CLUSTERED=true
      - CLUSTER_WITH=rabbit1
    ports:
      - "5674:5672"

  api-core:
    build: ./core/core-api
    links:
      - rabbit1:rabbit
    depends_on:
      - rabbit1
    volumes: 
      - ./core/core-api/app:/deploy/app

  lb-core:
    image: dockercloud/haproxy
    links:
      - api-core
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 5000:80

  worker:
    build: ./core/core-api
    restart: allways
    links:
      - rabbit1:rabbit
    depends_on:
      - rabbit1
    volumes: 
      - ./core/core-api/app:/deploy/app
    entrypoint:
      - /docker-entrypoint.sh
      - worker

  #######################################################
  ####################### WEB ##########################
  #######################################################
  web:
    build: ./web/app
    restart: allways
    volumes:
      - ./web/app:/var/www/html
    depends_on:
      - mariadb

  mariadb:
    image: mariadb 
    restart: allways
    volumes:
      - ./web/mariadb:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_transcode
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      TERM: dumb

  composer: 
    build: ./web/app
    volumes: 
      - ./web/app:/var/www/html
    depends_on:
      - mariadb
      - web
    entrypoint:
      - /entrypoint.sh
      - composer

  lb-web:
    image: dockercloud/haproxy
    links:
      - web
    depends_on:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:80
      - 1936:1936

  #######################################################
  ###################### GLOBAL #########################
  #######################################################
  ceph:
    image: ceph
    volumes:
      - ./ceph/:/etc/ceph
    network_mode: "host"
    environment:
      - MON_IP=10.0.2.15
      - CEPH_NETWORK=10.0.2.0/24
    
